@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

:root {
    --first-color: #300070;
    --second-color: #e4417a;
    --third-color: #ef9e54;
    --forth-color: #77ded3;
}

.header {
    background-color: var(--forth-color);
    padding: 5px;
}

.header__nav-logo {
    display: flex;
}

.header__nav-logo-img {
    width: 35px;
}

.header__nav-logo-text {
    font-size: 30px;
    margin-left: 5px;
}

.header__nav-links {
    display: flex;
    flex-direction: column;
}

.header__nav-links .menu__item {
    text-decoration: none;
    color: black;
    font-family: 'Arvo', sans-serif;
    font-weight: 400;    
}

.header__nav-links .menu__item:hover {
    font-weight: 700;
}

.shopping-cart__btn {
    width: 100px;
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
        align-items: center;
    }
    .header__nav-links {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
    }
}

.header__content {
    background-image: url(../img/header-banner.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
}