@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

:root {
    --first-color: #300070;
    --second-color: #e4417a;
    --third-color: #ef9e54;
    --forth-color: #77ded3;
    --lg-font: 'Arvo', serif;
    --sm-font: 'Lato', serif;
}

/* Navbar */
.navbar {
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  letter-spacing: 1px;
  font-family: var(--lg-font);
  font-weight: 700;
  font-size: 23px;
}

/* Header */
#header {
    background: url(/img/header-banner.jpg) top/cover no-repeat;
}

/* Our-advantages  cards section*/
.our-advantages {
    padding: 40px 0;
}

.our-advantages__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 16px;
}

.info-card {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.info-card__img {
    width: 60px;
    margin-right: 20px;
}

.info-card-info {
    margin-top: 15px;
}

.info-card__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: var(--lg-font);
}

.info-card__text {
    font-size: 13px;
    color: #555;
    font-family: var(--sm-font);
}
  
@media (min-width: 480px) {
    .our-advantages__cards {
        grid-template-columns: 1fr 1fr;
    }    
}

@media (min-width: 768px) {
    .our-advantages__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .our-advantages__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}